### Documentation available at https://docs.wodby.com/stacks/php/local
### Changelog can be found at https://github.com/wodby/docker4php/releases
### Images tags format explained at https://github.com/wodby/docker4php#images-tags

### PROJECT SETTINGS

PROJECT_NAME=CodeIgniter_project
PROJECT_BASE_URL=ci.docker.localhost

DB_NAME=CodeIgniter
DB_USER=CodeIgniter
DB_PASSWORD=CodeIgniter
DB_ROOT_PASSWORD=password
DB_HOST=mariadb
DB_DRIVER=mysql

### CodeIgniter Settings

AUTHORITY='District Administration Malda'
LOGO='logo.png'
BOAT_RATE=3500
BOAT_MIN_HOURS=2
CONTACT_MOBILE=9876543210
CONTACT_EMAIL=boat@example.com
CONTACT_DRIVER=9876543210
MAX_PASSENGER='40 (forty)'
PG_URI='https://sandbox.cashfree.com/pg/'
PG_APP_ID='21831928369'
PG_SECRET='eiwyroyweroywe'

CI_ENVIRONMENT=development
# development / production

app.appTimezone='Asia/Kolkata'
app.baseURL='http://${PROJECT_BASE_URL}/'

# fileDirectory is relative to WRITEPATH without trailing slash
# Should not be changed when files arleady uploaded to another loaction 
# without renaming that location
app.fileDirectory = 'uploads'

# Cache Timeout in sec
app.cacheTimeout = 300

# Image Compression Options
app.imageQuality = 90

# A4 72PPI:595x842    96PPI:794x1123  150PPI:1240x1754 
#   300PPI:2480x3508 600PPI:4960x7016 720PPI:5953x8419
app.imageWidth  = 595
app.imageHeight = 842

app.linkToYouTubeChannel='https://www.youtube.com/channel/UCMJezaDA6naGwZ60i52rCfQ'

# Uncomment this only if mod_rewrite is enabled
# app.indexPage=''

# Pagination
pager.perPage=10

app.CSRFProtection=true
app.CSPEnabled=true
#app.negotiateLocale=true
#app.defaultLocale=bn
email.fromName='CodeIgniter 4'
email.fromEmail='no-reply@nic.in'
email.mailType='html'

database.default.hostname='${DB_HOST}'
database.default.username='${DB_USER}'
database.default.password='${DB_PASSWORD}'
database.default.database='${DB_NAME}'
database.default.charset='utf8mb4'
database.default.DBCollat='utf8mb4_general_ci'
database.default.DBPrefix='ci4_'


### Application Internal Configuration Don't Change
auth.defaultUserGroup='students'
auth.defaultPassword='ePathshala@#'
auth.allowRemembering=true
#auth.hashAlgorithm=PASSWORD_BCRYPT

# For Production
auth.silent=true

auth.viewLayout='App\Views\layout\main'

auth.views.login='App\Views\Auth\login-form'
auth.views.register='App\Views\Auth\register-form'
auth.views.forgot='App\Views\Auth\forgot-form'
auth.views.reset='App\Views\Auth\reset-form'
auth.views.emailForgot='App\Views\Auth\emails\forgot'
auth.views.emailActivation='App\Views\Auth\emails\activation'

### --- PHP ----

# Linux (uid 1000 gid 1000)

PHP_TAG=8.1-dev-4.31.0
#PHP_TAG=8.0-dev-4.31.0
#PHP_TAG=7.4-dev-4.31.0

# macOS (uid 501 gid 20)

#PHP_TAG=8.1-dev-macos-4.31.0
#PHP_TAG=8.0-dev-macos-4.31.0
#PHP_TAG=7.4-dev-macos-4.31.0

### --- NGINX ----

NGINX_TAG=1.21-5.23.0
#NGINX_TAG=1.20-5.23.0
#NGINX_TAG=1.19-5.23.0

### --- NODE ---

NODE_TAG=16-dev-1.0.0
#NODE_TAG=14-dev-1.0.0
#NODE_TAG=12-dev-1.0.0

### --- MARIADB ----

MARIADB_TAG=10.7-3.19.0
#MARIADB_TAG=10.6-3.19.0
#MARIADB_TAG=10.5-3.19.0
#MARIADB_TAG=10.4-3.19.0
#MARIADB_TAG=10.3-3.19.0
#MARIADB_TAG=10.2-3.19.0

### --- POSTGRESQL ----

POSTGRES_TAG=14-1.27.0
#POSTGRES_TAG=13-1.27.0
#POSTGRES_TAG=12-1.27.0
#POSTGRES_TAG=11-1.27.0
#POSTGRES_TAG=10-1.27.0

### --- REDIS ---

REDIS_TAG=5-3.12.0
#REDIS_TAG=6-3.12.0

### --- VARNISH ---

VARNISH_TAG=6.0-4.10.0
#VARNISH_TAG=4.1-4.10.0

### --- ELASTICSEARCH ---

ELASTICSEARCH_TAG=7-5.18.0
#ELASTICSEARCH_TAG=6-5.18.0

### --- KIBANA ---

KIBANA_TAG=7-5.18.0
#KIBANA_TAG=6-5.18.0

### --- SOLR ---

SOLR_TAG=8-4.17.0
#SOLR_TAG=7-4.17.0
#SOLR_TAG=6-4.17.0
#SOLR_TAG=5-4.17.0

### OTHERS

ADMINER_TAG=4-3.22.0
APACHE_TAG=2.4-4.9.0
ATHENAPDF_TAG=2.16.0
MEMCACHED_TAG=1-2.12.0
RSYSLOG_TAG=latest
WEBGRIND_TAG=1-1.27.0
OPENSMTPD_TAG=6-1.13.0
XHPROF_TAG=3.5.0